<div class="container-fluid pb-5 bg-dark ">
  <h1 class="text-white text-center">Vehicle Company Information</h1>
  
  <div class="row">
    <!-- Lamborghini Card -->
    <div class="col-md-6 col-lg-4">
      <div class="card mt-4 shadow-sm">
        <img
          src="/img/Lamborghini--Veneno.jpg"
          width="100%"
          class="card-img-top"
          alt="Lamborghini Veneno in a showroom"
        />
        <div class="card-header bg-dark text-white">
          <h2>Lamborghini</h2>
        </div>
        <div class="card-body text-white">
          <p>
            For any inquiries or support, please reach out to Lamborghini's
            customer care team.
          </p>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            More Information
          </button>
          <div class="collapse mt-3" id="lamborghiniInfo">
            <ul>
              <li><strong>Phone (International):</strong> +39 051 9597282</li>
              <li><strong>Phone (North America):</strong> +1 866 681 6276</li>
              <li><strong>Online Form:</strong>
                <a href="https://www.lamborghini.com/en-en/contact-us"
                   class="btn btn-primary">Lamborghini Contact Form</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Audi Card -->
    <div class="col-md-6 col-lg-4">
      <div class="card mt-4 shadow-sm">
        <img src="/img/Audi-tt-25-anos.jpg" class="card-img-top" alt="Audi TT celebrating 25 years" />
        <div class="card-header bg-dark text-white">
          <h2>Audi</h2>
        </div>
        <div class="card-body text-white">
          <p>
            Audi's customer service is available to assist you with any
            questions or requests.
          </p>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
            More Information
          </button>
          <div class="collapse mt-3" id="audiInfo">
            <ul>
              <li><strong>Phone (International):</strong> +39 051 9597282</li>
              <li><strong>Phone (North America):</strong> +1 866 681 6276</li>
              <li><strong>Online Form:</strong>
                <a href="https://www.audi.com/en/contact.html"
                   class="btn btn-primary">Audi Contact Form</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- BMW Card -->
    <div class="col-md-6 col-lg-4">
      <div class="card mt-4 shadow-sm">
        <img
          src="/img/lamborghini-huracan-sterrato.jpg"
          class="card-img-top"
          alt="BMW car on a scenic road"
        />
        <div class="card-header bg-dark text-white">
          <h2>BMW</h2>
        </div>
        <div class="card-body text-white">
          <p>
            For any questions or support related to BMW, you can contact their
            customer service team.
          </p>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
            More Information
          </button>
          <div class="collapse mt-3" id="bmwInfo">
            <ul>
              <li><strong>Phone (International):</strong> +39 051 9597282</li>
              <li><strong>Phone (North America):</strong> +1 866 681 6276</li>
              <li><strong>Online Form:</strong>
                <a href="https://www.bmwgroup.com/en/general/contact.html"
                   class="btn btn-primary">BMW Contact Form</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Lamborghini Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-black">
        <img
          src="/img/Lamborghini--Veneno.jpg"
          width="100%"
          class="card-img-top"
          alt="Lamborghini Veneno in a showroom"
        />
        <h2 class="mt-3">About Lamborghini</h2>
        <p>
          Lamborghini is an Italian manufacturer of high-performance sports cars known for their extravagant designs and powerful engines. Founded in 1963 by Ferruccio Lamborghini, the company has established itself as one of the leading luxury car brands in the world.
        </p>
        <p>
          Lamborghini's lineup includes iconic models such as the Aventador and Huracán, both of which showcase cutting-edge technology and superior engineering.
        </p>
        <h3>Contact Information</h3>
        <ul>
          <li><strong>Phone (International):</strong> +39 051 9597282</li>
          <li><strong>Phone (North America):</strong> +1 866 681 6276</li>
          <li><strong>Online Form:</strong>
            <a href="https://www.lamborghini.com/en-en/contact-us" class="btn btn-custom">Lamborghini Contact Form</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Audi -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropAudiLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropAudiLabel">Audi Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        <img src="/img/Audi-tt-25-anos.jpg" class="card-img-top" alt="Audi TT celebrating 25 years" />
        <div class="card-header bg-dark text-white">
          <h2>Audi</h2>
        </div>
        <div class="card-body text-white">
          <p>
            Audi's customer service is available to assist you with any questions or requests. Founded in 1909, Audi is renowned for its luxury vehicles that combine performance, technology, and design.
          </p>
          <p>
            The Audi lineup includes models such as the A3, A4, Q5, and the high-performance R8, all of which embody the brand's commitment to innovation and quality.
          </p>
          <h3>Contact Information</h3>
          <ul>
            <li><strong>Phone (International):</strong> +49 800 2834242</li>
            <li><strong>Phone (North America):</strong> +1 800 8228987</li>
            <li><strong>Online Form:</strong>
              <a href="https://www.audi.com/en/contact.html" class="btn btn-custom">Audi Contact Form</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal BMW -->
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropBMWLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropBMWLabel">BMW Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        <img
          src="/img/lamborghini-huracan-sterrato.jpg"
          class="card-img-top"
          alt="BMW car on a scenic road"
        />
        <div class="card-header bg-dark text-white">
          <h2>BMW</h2>
        </div>
        <div class="card-body text-white">
          <p>
            BMW (Bayerische Motoren Werke AG) is a German multinational company which produces luxury vehicles and motorcycles. Founded in 1916, BMW is known for its performance and luxury vehicles, as well as its commitment to innovation and sustainability.
          </p>
          <p>
            The BMW lineup includes a range of models from the 1 Series to the 7 Series, as well as the popular X Series SUVs, all designed to deliver an exceptional driving experience.
          </p>
          <h3>Contact Information</h3>
          <ul>
            <li><strong>Phone (International):</strong> +49 800 2255289</li>
            <li><strong>Phone (North America):</strong> +1 800 8311117</li>
            <li><strong>Online Form:</strong>
              <a href="https://www.bmwgroup.com/en/general/contact.html" class="btn btn-custom">BMW Contact Form</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="d-block">
        

  <i
    type="button"
    id="soundToggle"
    style="z-index: 999; margin-top: 100px; width: 100px; height: -30px"
    class="btn sendMessage-btn position-fixed;"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Log in<br />Sign in
  </i>
</div>

<!-- Login -->
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade animate__animated animate__zoomInDown"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="z-index: 99999;"

>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">

      <div class="modal-body">
        <div class="form-card1">
          <div class="form-card2">
            <form class="form">
              <p class="form-heading">LOG IN</p>

              <div class="form-field">
                <input
                  required=""
                  placeholder="Name"
                  class="input-field"
                  type="text"
                />
              </div>

              <div class="form-field">
                <input
                  required=""
                  placeholder="Password"
                  class="input-field"
                  type="Password"
                />
              </div>

              <button class="sendMessage-btn">Log in</button>
              <button class="sendMessage-btn2">Forgot password</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="sendMessage-btn2"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <i
          type="button"
          class="sendMessage-btn text-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        >
          Sign in
        </i>
      </div>
    </div>
  </div>
</div>

<!-- Login -->

<!-- Sign in -->
<div
  class="modal fade animate__animated animate__zoomInUp"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="z-index: 999999;"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-body">
        <div class="form-card1">
          <div class="form-card2">
            <form class="form">
              <p class="form-heading">SIGN IN</p>

              <div class="form-field">
                <input
                  required=""
                  placeholder="Name"
                  class="input-field"
                  type="text"
                />
              </div>

              <div class="form-field">
                <input
                  required=""
                  placeholder="Email"
                  class="input-field"
                  type="email"
                />
              </div>
              <div class="form-field">
                <input
                  required=""
                  placeholder="Password"
                  class="input-field"
                  type="text"
                />
              </div>
              <div class="form-field">
                <input
                  required=""
                  placeholder="Confirm Password"
                  class="input-field"
                  type="text"
                />
              </div>

              <button class="sendMessage-btn">Sign in</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="sendMessage-btn2"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="sendMessage-btn"
        >
          Log in
        </button>
        
      </div>
    </div>
  </div>
</div>
<!-- Sign in -->



